

div.container { max-width: 720px; margin-top: 16px }
.footer { text-align: center; color: #999; margin: 64px 0 16px }
.footer a { color: #888 }
.container { font-family: Verdana, Helvetica, Arial, sans-serif; line-height: 1.5; }
h2 { font-weight: 500; margin-top: 0.8em; }
