<link href="/css.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
<div class="container">
  <%= html %>
</div>
<div class="footer">
  <%= typeof footer != 'undefined' ? footer : '' %>
  <div>Powered by <a href="http://www.pagist.info/"><b>Pagist</b></a></div>
</div>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({ "HTML-CSS": { availableFonts: ["TeX"] } })
</script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
