<!DOCTYPE html>
<html ng-app="chat">
<title><%- room %> - Pagist Chat</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js'></script>
<script src='https://cdn.firebase.com/v0/firebase.js'></script>
<script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.min.js"></script>
<link rel="stylesheet" href="/css.css">
<link rel="stylesheet" href="/chat.css">
</head>
<body ng-controller="MainController">
<div class="container">
  <ng-include src="'/chat-template.html'"></ng-include>
  <div class="footer">
    Room “<b><%- room %></b>” on <a href="/"><b>Pagist Chat</b></a>
  </div>
</div>
<script>
angular.module('chatConfig', [])
.constant('chatConfig', {
  room: <%= JSON.stringify(room) %>
})
</script>
<script src="/chat.js"></script>

