
@import "http://fonts.googleapis.com/css?family=Montserrat:700,400|PT+Sans:400,400italic,700,700italic|PT+Sans+Caption:400,700|Droid+Sans:700|Ubuntu+Mono:400";

body { font-family: "PT Sans"; font-size: 16px; line-height: 1.5;
  padding-left: 16px; padding-right: 16px; }
h1 { font-family: 'Droid Sans', sans-serif; font-size: 3em; font-weight: bold; }
h2 { font-family: 'Montserrat', sans-serif; font-weight: bold; }
h3, h4, h5, h6 { font-family: 'PT Sans Caption', sans-serif; font-weight: bold; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.5em; }

/* thx bootstrap */
pre, code {
  padding: 2px 4px; border: 1px solid #E1E1E8; background: #f7f7f9; border-radius: 3px;
}
code { color: #d14; font-family: Ubuntu Mono; }
pre code { background: transparent; border: 0; padding: 0; }

div.container { max-width: 720px; margin: 16px auto; }
a { color: #428BCA; text-decoration: none; border-radius: 3px; }
.footer { text-align: center; color: #999; margin: 64px 0 16px }
.footer a { color: #888 }
